<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mju.hotel.dao.RoomMapper" >
  <!--<resultMap id="BaseResultMap" type="cn.mju.pojo.Room" >-->
    <!--<id column="id" property="id" jdbcType="INTEGER" />-->
    <!--<result column="room_code" property="roomCode" jdbcType="VARCHAR" />-->
    <!--<result column="room_type" property="roomType" jdbcType="VARCHAR" />-->
    <!--<result column="room_status" property="roomStatus" jdbcType="VARCHAR" />-->
    <!--<result column="room_price" property="roomPrice" jdbcType="DECIMAL" />-->
  <!--</resultMap>-->
  <!--<resultMap id="ResultMapWithBLOBs" type="cn.mju.pojo.Room" extends="BaseResultMap" >-->
    <!--<result column="remark" property="remark" jdbcType="LONGVARCHAR" />-->
  <!--</resultMap>-->
  <!--<sql id="Base_Column_List" >-->
    <!--id, room_code, room_type, room_status, room_price-->
  <!--</sql>-->
  <!--<sql id="Blob_Column_List" >-->
    <!--remark-->
  <!--</sql>-->
  <!--<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--,-->
    <!--<include refid="Blob_Column_List" />-->
    <!--from room-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >-->
    <!--delete from room-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="cn.mju.pojo.Room" >-->
    <!--insert into room (id, room_code, room_type, -->
      <!--room_status, room_price, remark-->
      <!--)-->
    <!--values (#{id,jdbcType=INTEGER}, #{roomCode,jdbcType=VARCHAR}, #{roomType,jdbcType=VARCHAR}, -->
      <!--#{roomStatus,jdbcType=VARCHAR}, #{roomPrice,jdbcType=DECIMAL}, #{remark,jdbcType=LONGVARCHAR}-->
      <!--)-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="cn.mju.pojo.Room" >-->
    <!--insert into room-->
    <!--<trim prefix="(" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="roomCode != null" >-->
        <!--room_code,-->
      <!--</if>-->
      <!--<if test="roomType != null" >-->
        <!--room_type,-->
      <!--</if>-->
      <!--<if test="roomStatus != null" >-->
        <!--room_status,-->
      <!--</if>-->
      <!--<if test="roomPrice != null" >-->
        <!--room_price,-->
      <!--</if>-->
      <!--<if test="remark != null" >-->
        <!--remark,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="roomCode != null" >-->
        <!--#{roomCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="roomType != null" >-->
        <!--#{roomType,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="roomStatus != null" >-->
        <!--#{roomStatus,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="roomPrice != null" >-->
        <!--#{roomPrice,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="remark != null" >-->
        <!--#{remark,jdbcType=LONGVARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="cn.mju.pojo.Room" >-->
    <!--update room-->
    <!--<set >-->
      <!--<if test="roomCode != null" >-->
        <!--room_code = #{roomCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="roomType != null" >-->
        <!--room_type = #{roomType,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="roomStatus != null" >-->
        <!--room_status = #{roomStatus,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="roomPrice != null" >-->
        <!--room_price = #{roomPrice,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="remark != null" >-->
        <!--remark = #{remark,jdbcType=LONGVARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.mju.pojo.Room" >-->
    <!--update room-->
    <!--set room_code = #{roomCode,jdbcType=VARCHAR},-->
      <!--room_type = #{roomType,jdbcType=VARCHAR},-->
      <!--room_status = #{roomStatus,jdbcType=VARCHAR},-->
      <!--room_price = #{roomPrice,jdbcType=DECIMAL},-->
      <!--remark = #{remark,jdbcType=LONGVARCHAR}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="cn.mju.pojo.Room" >-->
    <!--update room-->
    <!--set room_code = #{roomCode,jdbcType=VARCHAR},-->
      <!--room_type = #{roomType,jdbcType=VARCHAR},-->
      <!--room_status = #{roomStatus,jdbcType=VARCHAR},-->
      <!--room_price = #{roomPrice,jdbcType=DECIMAL}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
</mapper>